<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>




<div class="container col s9 contenido">
<!--app-cursos [valor]="1"></app-cursos-->

  <h1>My app!</h1>
<router-outlet></router-outlet>

    <!--div class="col s9">
            <h1>Hola App!</h1>
            <div class="row">
                <form class="col s12" id="formulario">
                    <div class="row data" id="data1">
                        <div class="input-field col s6">
                            <input  id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                </form>

            </div>




            <a class="btn-floating btn-large waves-effect waves-light red myBoton" id="myBoton"><i class="material-icons">add</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red myBoton" id="eliminar"><i class="material-icons">close</i></a>

            <div>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-field col s6">
                    <input  id="coordenadas" type="text" class="validate">
                    <label for="coordenadas">Coordenadas</label>

                    <div class="horizontal">
                        <a class="btn-floating btn-large red " id="pintar">
                        <i class="large material-icons ">mode_edit</i>
                    </a>
                    </div>

                </div>


            </div>
          </div-->
        </div>
